[submodule "extern/midnight-graphics"]
	path = extern/midnight-graphics
	url = https://github.com/maxortner01/midnight-graphics
[submodule "extern/flecs"]
	path = extern/flecs
	url = https://github.com/SanderMertens/flecs
[submodule "extern/assimp"]
	path = extern/assimp
	url = https://github.com/assimp/assimp
[submodule "extern/meshoptimizer"]
	path = extern/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
